<script src="https://swc.cdn.skype.com/sdk/v1/sdk.min.js"></script>

<div class="mdl-layout__tab-panel is-active" id="features">
  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Contato</th>
          <th class="mdl-data-table__cell--non-numeric">Canal</th>
          <th class="mdl-data-table__cell--non-numeric">Assunto</th>
          <th class="mdl-data-table__cell--non-numeric mdl-layout--large-screen-only">Status</th>
          <th class="mdl-data-table__cell--non-numeric mdl-layout--large-screen-only">Quando</th>
          <th class="mdl-data-table__cell--non-numeric mdl-layout--large-screen-only">Atendente</th>
          <th class="mdl-data-table__cell--non-numeric mdl-layout--large-screen-only">Tags</th>
          <th class="mdl-data-table__cell--non-numeric">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            <div class="material-icons mdl-badge mdl-badge--overlap" data-badge="1">account_box</div>
            Paulo Victor
          </td>
          <td class="mdl-data-table__cell--non-numeric skype-button rounded textonly">
            <span class="canal-messenger canal-box">Messenger</span>
          </td>


          <td class="mdl-data-table__cell--non-numeric">Pedido de Compra</td>
          <td class="mdl-data-table__cell--non-numeric mdl-layout--large-screen-only">Em atendimento</td>
          <td class="mdl-data-table__cell--non-numeric mdl-layout--large-screen-only">2017-10-19 01:17:03 am</td>
          <td class="mdl-data-table__cell--non-numeric mdl-layout--large-screen-only">Paulo</td>
          <td class="mdl-data-table__cell--non-numeric mdl-layout--large-screen-only tags">
            <span class="mdl-chip">
              <span class="mdl-chip__text">#pedido</span>
            </span>
          </td>
          <td>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn1">
              <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn1">
              <li class="mdl-menu__item">Finalizar</li>
              <li class="mdl-menu__item">Atender</li>
              <li class="mdl-menu__item">Voltar para a Fila</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            <div class="material-icons mdl-badge mdl-badge--overlap" data-badge="3">account_box</div>
            Andre Nogueira
          </td>
          <td class="mdl-data-table__cell--non-numeric skype-button rounded textonly ">
            <span class="canal-email canal-box">E-mail</span>
          </td>
          <td class="mdl-data-table__cell--non-numeric">Confirmação de Compra</td>
          <td class="mdl-data-table__cell--non-numeric">Em atendimento</td>
          <td class="mdl-data-table__cell--non-numeric">2017-10-19 01:21:03 am</td>
          <td class="mdl-data-table__cell--non-numeric">Paulo</td>
          <td class="mdl-data-table__cell--non-numeric tags">
            <span class="mdl-chip">
              <span class="mdl-chip__text">#confirmacao</span>
            </span>
          </td>
          <td>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn1">
              <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn1">
              <li class="mdl-menu__item">Finalizar</li>
              <li class="mdl-menu__item">Atender</li>
              <li class="mdl-menu__item">Voltar para a Fila</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">
            <div class="material-icons mdl-badge mdl-badge--overlap" data-badge="1">account_box</div>
            João
          </td>
          <td class="mdl-data-table__cell--non-numeric skype-button rounded textonly ">
            <!-- <span class="skype-button rounded textonly canal-email" data-contact-id="paulo.victor.m.silva" data-text="e-mail"></span> -->
            <span class="canal-skype canal-box">Skype</span>
          </td>
          <td class="mdl-data-table__cell--non-numeric">Dúvida sobre Pedido</td>
          <td class="mdl-data-table__cell--non-numeric">Aguardando</td>
          <td class="mdl-data-table__cell--non-numeric">2017-10-20 18:59:03 am</td>
          <td class="mdl-data-table__cell--non-numeric">Paulo</td>
          <td class="mdl-data-table__cell--non-numeric tags">
            <span class="mdl-chip">
              <span class="mdl-chip__text">#duvida</span>
            </span>
          </td>
          <td>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn1">
              <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn1">
              <li class="mdl-menu__item">Finalizar</li>
              <li class="mdl-menu__item">Atender</li>
              <li class="mdl-menu__item">Voltar para a Fila</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
